* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.dash {
    background-color: var(--btns) !important;
    color: var(--white) !important;
}

.status {
    text-shadow: 0px 5px 10px silver;
}
.a {
    background-color: var(--inactivebtn) !important;
    border-radius: 10px;
}
.numbers {
    font-size: calc(var(--fontsize4) - 0.3rem) !important;
}

.tableheader {
    background-color: var(--dashboardminlistingheader) !important;
}
.tablecolor1 {
    background-color: var(--tablecolor1);
}

.boxshad {
    box-shadow: 3px 3px 10px silver;
}
.seemore {
    background-color: var(--btns) !important;
    border-radius: 10px;
    border: 1px solid var(--black) !important;
    float: right;
}
a {
    text-decoration: none !important;
}
.lidisplay {
    list-style-type: none;
}
.title {
    font-size: var(--title);
}
.detail {
    font-size: var(--detail);
}
.tableheaders {
    font-size: var(--tableheader);
}
.tablerows {
    font-size: var(--tablerow);
}
.stshadow {
    -webkit-text-stroke: 0.5px black;
}
.stat {
    width: 100%;
}
.stats {
    width: 90%;
    margin-right: 2vh;
}
.notifications {
    display: flex;
    justify-content: end;
    width: 100%;
}
.space {
    margin-bottom: 3vh;
}
@media (max-width: 1380px) {
    .stat {
        width: 100%;
    }
    .stats {
        width: 100%;
    }
    .numbers {
        font-size: calc(var(--fontsize4) - 1.3rem) !important;
    }
    .detail {
        font-size: calc(var(--detail) - 0.5rem) !important;
    }
    .see {
        font-size: calc(var(--detail) - 0.5rem) !important;
    }
}

@media (max-width: 900px) {
    .stbox {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2vh;
        justify-content: center;
    }
    .tablelist {
        width: 100%;
    }
    .numbers {
        font-size: calc(var(--fontsize4) - 2rem) !important;
    }
    .detail,
    .see {
        font-size: calc(var(--detail) - 0.6rem) !important;
    }
}
@media (max-width: 700px) {
    .stbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .stats {
        margin-top: 3vh;
    }
}
