.setting {
    background-color: var(--btns) !important;
    color: var(--white) !important;
}
.btncust {
    margin: 10px;
    width: 12vw;
    font-size: var(--btntextsize) !important;
    border: 1px black solid;
    background-color: var(--inactivebtn);
}
.btncust:hover {
    background-color: var(--btns);
}
.active {
    background-color: var(--btns) !important;
}

.headerButton {
    width: 12vw;
    height: 8vh;
    background-color: var(--inactivebtn);
    border: 1px solid black;
    border-radius: 2vh;
}

.headerButton:hover {
    background-color: var(--btns);
    color: var(--bs-white);
}
.checked {
    background-color: var(--btns) !important;
    color: var(--bs-white);
}
.table {
    box-shadow: 3px 3px 10px silver;
}
.tableHeader {
    background-color: var(--dashboardminlistingheader);
    font-size: var(--tablerow);
    font-weight: bold;
}
.tableChile {
    background-color: var(--tablecolor1);
}
.formHeader {
    font-size: var(--title);
}
label,
select {
    font-size: var(--detail);
}
button {
    font-size: var(--btntextsize);
}
.addadmin {
    margin-top: 5vh;
    width: 10%;
    height: 5vh;
    background-color: var(--btns);
    border: 1px solid black;
    color: var(--white);
    border-radius: 1vh;
}
.reset {
    width: 10% !important;
    height: 5vh;
    margin-left: 10vh !important;
    margin-bottom: 10vh !important;
    background-color: var(--btns);
    color: var(--white);
    border-radius: 1vh;
    border: 1px solid black;
}
#back {
    margin-left: 100vh;
}
.tdWhite {
    color: var(--white) !important;
    font-size: var(--tablerow);
}
.tdBlack {
    font-size: var(--tablerow);
}
.formHeader {
    font-size: var(--title);
}
legend {
    font-size: var(--title);
}
button {
    font-size: var(--btntextsize);
}
fieldset {
    margin-left: 30%;
    margin-top: 10vh !important;
}
label {
    margin: 3vh;
    font-size: var(--detail);
}
.btnDown {
    margin-left: 20vh;
}
.addAdminButton {
    text-align: center;
    margin-left: 67vw;
}
#delete {
    cursor: pointer;
}
