.setting {
    background-color: var(--btns) !important;
    color: var(--white) !important;
}
.btncust {
    margin: 10px;
    width: 12vw;
    font-size: var(--btntextsize) !important;
    border: 1px black solid;
    background-color: var(--inactivebtn);
}
.btncust:hover {
    background-color: var(--btns);
}
.active {
    background-color: var(--btns) !important;
}
.navBar {
    display: flex;

    flex-direction: row;
    gap: 7vh;
    margin-top: 4vh;
    margin-left: 17vw;
}

.headerButton {
    width: 12vw;
    height: 8vh;
    background-color: var(--inactivebtn);
    border: 1px solid black;
    border-radius: 2vh;
}

.headerButton:hover {
    background-color: var(--btns);
    color: var(--bs-white);
}
.checked {
    background-color: var(--btns) !important;
    color: var(--bs-white);
}
.adminAddForm {
    margin-left: 1%;
    margin-top: 4%;
}

.formHeader {
    font-size: var(--title);
}
label,
select,
option {
    font-size: var(--detail);
}
button {
    font-size: var(--btntextsize);
}
.adminAddForm input {
    width: 50%;
}

.adminAddForm select {
    width: 15%;
}
.addadmin {
    margin-top: 5vh;
    width: 10%;
    height: 5vh;
    background-color: var(--btns);
    border: 1px solid black;
    color: var(--white);
    border-radius: 1vh;
}
.reset {
    width: 10% !important;
    height: 5vh;
    margin-left: 10vh !important;
    margin-bottom: 10vh !important;
    background-color: var(--btns);
    color: var(--white);
    border-radius: 1vh;
    border: 1px solid black;
}
#back {
    position: absolute;
    margin-left: 15vw;
    margin-top: 53.2vh;
    /* width: 10%;
    height: 5vh;
    background-color: var(--btns);
    border: 1px solid black;
    color: var(--white);
    border-radius: 1vh; */
}
#backAdminEdit {
    position: absolute !important;
    margin-left: 45vw !important;
    margin-top: 61.5vh !important;
}
#appBack {
    position: absolute;
    left: 47vw;
    top: 56.4vh;

    background-color: var(--btns);
    border: 1px solid black;
    color: var(--white);
    border-radius: 1vh;
}
#appBack2 {
    position: absolute;
    left: 47vw;
    top: 67.5vh;

    background-color: var(--btns);
    border: 1px solid black;
    color: var(--white);
    border-radius: 1vh;
}
#appBack3 {
    position: absolute;
    left: 47vw;
    top: 79vh;

    background-color: var(--btns);
    border: 1px solid black;
    color: var(--white);
    border-radius: 1vh;
}
#appBack4 {
    position: absolute;
    left: 47vw;
    top: 81vh;

    background-color: var(--btns);
    border: 1px solid black;
    color: var(--white);
    border-radius: 1vh;
}
#validate {
    position: absolute;
    right: 45vw;
    top: 1vh;
}
#back2 {
    position: absolute;
    margin-left: 40vh;
    bottom: 4vh;
    /* width: 5.5%;
    height: 7vh;
    background-color: var(--btns) !important;
    border-radius: 1vh; */
}
.buttonBack {
    color: var(--white) !important;
}
#icon {
    cursor: pointer;
    position: absolute;
    right: 4%;
}
.relative {
    position: relative;
}
.selectcategory {
    width: 12%;
    height: 6vh;
}
.column {
    display: flex;
    flex-direction: column;
}
#idhide {
    visibility: hidden;
}
.imgshow {
    position: absolute;
    right: 82vh;
}
.imgshow img {
    width: 8vw;
    height: 16vh;
    margin-left: 5vh;
    border: 5px double black;
}
.imgshow p {
    font-size: var(--tableheader);
    margin: auto;
}
