*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif; 
}
:root{
    --color1:#D4401F;
    --color2:black;
    --color3:white;
}

.sale{
    background-color: var(--btns) !important;
    color: var(--white) !important;
}

.btncust{
    margin: 10px;
    width: 12vw;
    font-size: var(--btntextsize)!important;
    border :1px black solid;
}

.btncust:hover{
    background-color: var(--btns);
}

.active{
    background-color: var(--btns);
}

.inactive{
    background-color: var(--inactivebtn) 
}

/*For Range Sale Search*/
#rangeSearch{
    width: 70em;
    height: 3em;
    margin-top: 2em;
    margin-left: 5em;
    display: flex;
    flex-direction: row;
}
#saleCaption{
    margin-top: 1em;
    margin-left: 2em;
}
.choice{
    display: flex;
    flex-direction: column;
}
/*For Start Range Search*/
.fromRangeCount{
    width: 15em;
    margin-left: 3em;
    border:0.1rem solid var(--color2);
    background-color: var(--color3);
    color: var(--color1);
    padding-top: 0.2em;
    padding-left: 1.3em;
    font-size: 1em;
}
/*For Between Symbol*/
#betweenSymbol{
    width: 1em;
    color: var(--color2);
    margin-left: 1em;
    padding-left:0.5em;
    display: inline;
    font-size: 2em;
}
/*For End Range Search*/
.toRangeCount{
    width: 15em;
    margin-left: 3em;
    border:0.1rem solid var(--color2);
    background-color: var(--color3);
    color: var(--color1);
    padding-top: 0.2em;
    padding-left: 1.3em;
    font-size: 1em;
}
/*For Range Search Submit*/
#rangeSearchSubmit{

    background-color: var(--color1);
    color: var(--color3);
    padding-top: 0.2em;
    margin-top: 0.1rem;
    margin-left: 2rem;
    font-size: 1em;
}
.errorShow{
    margin-left: 4em;
    margin-top: 2em;
}
/*  For Showing Chart Details*/
#lineChart{
    width: 100%;
    height: 80%;
    margin-top: 6em;
    padding: 1em;
    display: flex;
    flex-direction: row;
}
#lineChart1{
    width: 100%;
    height: 80%;
    margin-top: 2em;
    margin-left:3em;
    display: flex;
    flex-direction: row;
}
#chart{
   display: inline-block;
   width: 100%;
   display: flex;
}
#chart1{
    display: inline-block;
    width: 100%;
    display: flex;
 }
 @media(max-width: 800px) {
    #lineChart,#lineChart1{
        display: flex;
        flex-direction: column;
        margin-top: 3em;
    }
    #dailySales,#monthlySales,
    #yearlySales,#rangeSales{
        width: 7.4em;
        height: 3em;
        margin-top: 3em;
        margin-left: 4em;
        font-size: 1em;
    }
    #rangeSearch{
        width: 11em;
        height: 12em;
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
    }
    #betweenSymbol{
        margin-left:4.5em;
    }
    #rangeSearchSubmit{
       margin-top:2em;
       margin-left: 5.5em;
    }
    #saleCaption{
        margin-top: 1.5em;
    }

    .tableContainer{
        display: flex;
        flex-direction: column;
        width: 100%;

        margin-bottom: 10%;
        
    }
}