* {
    box-sizing: border-box;
}

.product {
    background-color: var(--btns) !important;
    color: var(--white) !important;
}

/* Product Label */
.labels {
    font-size: var(--title);
    font-weight: bold;
}

/* Container Image */
.image-container {
    border: 2px solid grey;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
    width: 15vw !important;
    border: none;
}
/* Image Block */
.blocks {
    border: 1px solid grey;
    background: rgba(0, 0, 0, 0.5);
}

/* File Customize */
.files {
    width: 17.5vw;
}

/* Form Label */
.titles,
.titles1 {
    font-size: var(--detail);
}

textarea {
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.custombox {
    width: 6vw;
    height: 3vh;
}

/* Append Detail Box */

.appendBox {
    width: 77vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.plusBox {
    width: 6.5vw;
    height: 6.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem !important;
    font-size: var(--fontsize2);
    border: 1px solid var(--black);
    background: var(--btns);
    cursor: pointer;
}
.icons {
    color: var(--white);
    font-size: 2rem;
    background: transparent;
}

.minusIcon {
    font-size: var(--fontsize1);
    cursor: pointer;
}

/* Submit Button */

.btncust1 {
    /* margin: 10px; */
    width: 12vw;
    font-size: var(--btntextsize) !important;
    border: 1px black solid;
    background-color: var(--btns) !important;
}

.submitBtn {
    width: 10vw;
    height: 3.7vw;
    background: var(--btns);
    font-size: var(--btntextsize);
    color: var(--white);
    margin-left: 7rem !important;
    border-radius: 10px;
    cursor: pointer;
}

.resetBtn {
    width: 10vw;
    height: 3.7vw;
    background: var(--btns);
    font-size: var(--btntextsize);
    color: var(--white);
    margin-left: 10rem !important;
    border-radius: 10px;
    cursor: pointer;
}
.back {
    text-decoration: none;
    color: var(--white);
}

.backBtn {
    width: 10vw;
    height: 3.7vw;
    background: var(--btns);
    font-size: var(--btntextsize);
    color: var(--white);
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .appendBox {
        width: 100vw;
        height: 120vh;
        overflow-x: scroll;
    }
    .plusBox {
        width: 13.3vw;
        height: 7.5vh;
        text-align: center;
        margin: auto;
    }
    .icons {
        font-size: 1.8rem;
    }

    .titles1 {
        font-size: 2rem;
    }
}
