.cust {
    background-color: var(--btns) !important;
    color: var(--white) !important;
}

.cusinput {
    width: 20vw !important;
}
.bybtns {
    background-color: var(--btns);
}
.roow {
    padding-left: 0 !important;
    margin: 0 !important;
}
.btnstext {
    font-size: var(--btntextsize);
}
.title {
    font-size: var(--title);
}
.detail {
    font-size: var(--detail);
}
.tableheaders {
    font-size: var(--tableheader);
}
.tableheader {
    background-color: var(--dashboardminlistingheader) !important;
}
.tablecolor1 {
    background-color: var(--tablecolor1);
}
.boxshad {
    box-shadow: 3px 10px 10px silver;
}
.status {
    text-shadow: 0px 5px 10px silver;
}
